.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-700);
    width: 100vw;
    height: 12.5rem;
}

.logoIcon {
width: 126px;
height: 48px;

}